*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

:root {
    --first-color:white;
    --second-color:#ced6d6;
    --body-background-color:#e8a247;
    --message-area-image:url(../img/whats-image.png);
    --time-background:yellowgreen;
    --message-color:#0884ff;
    --shift-color:#b5b5c6;
}

body{
    background-color: var(--body-background-color);
    height: 100vh;
}

.container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: .2fr 0fr 0fr 0fr .2fr;
    grid-template-areas: 
        ". . . . ."
        ". . topPhone . ."
        ". . content1 . ."
        ". . content2 . ."
        ". . content3 . ."; 
}

.topPhone{
    background: var(--first-color);
    width:100%;
    display: flex;
    height: 5vh;
    border-radius: 24px 24px 0px 0px;
    grid-area: topPhone;

}

.messageArea{
    grid-area: content1;
    text-align: center;
    background-image: var(--message-area-image);
    height: 50vh;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: flex-end;
}

.positionDate{
    display: flex;
    width: 100%;
    margin: 1vh 0vw;
    justify-content: center;
}

.timeStyle{
    background:var(--time-background);
    padding: 0vh 2vw;
    border-radius:24px;
}

.message{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 8px;
    max-width: 45vw;
    margin: 1vh 1vw;
    background-color: var(--message-color);  
    color: white;
    overflow-wrap: anywhere;
}

.dateSendStyle{
    font-size: .7rem;
    flex-direction: column;
    width:10vw;
    display: flex;
    justify-content: center; 
    color: white;
}

.sendAreaStyle{
    grid-area: content2;
    display: flex;
    justify-content: space-between;
    background:white;
}

.emojiStyle{
    float: left;
    background-color: var(--first-color);
    border: none;
}

textarea{
    float:left;
    margin: 0vh 2.5vw;
    height: 5vh; 
    outline: none;
    resize: none;
    border-radius: 24px;
    border: 1px black solid;
    margin: 1vh 1vw;
    background: #f7f7f7;
}


.sendStyle{
    background-color: var(--first-color);
    border: none;
}

#keybordBox{
    background-color:var(--second-color) ;
    border-radius: 0px 0px 24px 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: content3;
}

.btn{
    padding:.6rem;
    background-color: white;
    border: none;
    border-radius:8px;
    cursor:pointer;
}

.shiftStyle{
    background-color: var(--shift-color);
}

#emojiBox{
    visibility: hidden;
    background: var(--second-color);
    height: 20vh;
    display: flex;
    border-radius: 0px 0px 24px 24px;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: content3;
}

@media screen and (max-width: 2100px){
    .btn{
        padding:.5rem;
    }
}

@media screen and (max-width: 1366px){

    .btn{
        padding:.4rem;
    }
}
@media screen and (max-width: 1024px){
    .btn{
        padding:.2rem;
    }

}